body{
    font-family: 'Noto Serif JP', serif;
}
h1{
        font-size: 50px;
    }
h3{
        font-size: 15px;
    }

    span{

      color: #fea157;
    }
section1
    {
      display: flex; 
      
      
    }
    section{
      display: flex;
      background-image: url(../project01/Frame\ 58.jpg);
      background-repeat: no-repeat;
      background-size: 100%;


    }

    .order{
      padding-right: 0px;
        padding-left:120px ;
        padding-top: 10%;
        padding-bottom: 0px;
        font-size: 60px;
        font-weight: 700;
        color: #575757;
    }

    .imagee{
    
      
      padding-left: 364px;
        padding-top: 10%;
        padding-bottom: 0px;
    }
  
    
    .img {
        margin-left:10px;
        
      }
      .abt{

        width: 50%;
        text-align: left;
        padding-left: 349px;
        padding-top: 0px;
        padding-bottom: 452px;
      


      }
      .column {
        float: left;
        width: 33%;
        padding: 5px;
      }

      

  .aboutMe{
      display: flex;
      height: 700px;
      align-items: center;
      justify-content: center;
      background-image: url(../project01/Frame\ 57.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
  }
      
  


  
      

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .rcorners {
    border-radius: 25px;
    background: #010200;
    margin-bottom: 50px;
    display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
  }
  .test{
    border-radius: 25px;
      margin-left: 50px;
      margin-bottom: 50px;
      margin-right: 20px;
      background-image: linear-gradient(to top,#FCF8E8,#D4E2D4,#34626C);
      
    box-shadow: 15px 15px 20px rgb(7, 5, 5);
    padding: 10px;
 

  }
  
  .test2 {
      border-radius: 25px;
    margin-left: 70px;
    margin-bottom: 25px;
    margin-right: 400px;
    width: 1250px;
    border: 0px solid rgb(18, 19, 18);
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    background-image: linear-gradient(to top,#FCF8E8,#D4E2D4,#34626C);
    }
    .fancy {
        background-clip: linear-gradient(45deg, #f3ec78, #af4261);
        
      }